.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    width: 400px; 
    padding: 20px;
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
  }
  
  .modalButton {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .confirmButton {
    background-color: #4caf50;
    color: white;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
  }
  
  .bookdate {
    color: white;
  }
  
  input[type="date"] {
    color: black;
  }
  
  .hour {
    color: white;
  }
  
  
  input[type="time"] {
    background-color: white;
    color: black; 
  }
  .label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: white; 
  }
  
  