:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333;
    --background-color: #dcdbdb;
    --text-color: #121212;
    --header-color: white;
    --header-height: 4rem;
    --border-radius: 1rem;
    --card-background: #2a2a2a;
    --card-hover: #444;
    --glow-color: #958efa;
  }
  
body{
    width: 100%;
    height: 100%;
    position: relative;
}

  .container {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 100%;
  }
  
  .main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(107, 106, 108, 0.8);
    border-radius: 1rem;
    margin-top: 2rem;
    width: 75%;
    margin-bottom: 50px;
    
  }
  
  .intro {
    text-align: center;
  }

  h1 {
    color: white;
  }
  
  p, h5 {
    color: white;
    margin: 0.5rem 0;
    
  }

.searchInput {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; 
}

.searchButton {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--header-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: lighten(var(--header-color), 10%);
}

.results {
    margin-top: 20px;
}

.resultItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: white;
}

.error {
    color: red;
    text-align: center;
}


.imageContainer {
    display: flex;
    gap: 10px; /* Space between images */
}

.resultImage {
    width: 100px; /* Adjust size as necessary */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
}

