.sidebar {
  height: calc(100vh - 60px); /* Adjust the height to fill the remaining viewport after the header */
  width: 200px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed; /* Keeps the sidebar fixed to the left side */
  top: 60px; /* Adjust the 'top' based on the height of your header */
  left: 0;
}


  

  