:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333;
    --background-color: #dcdbdb;
    --text-color: #121212;
    --header-color: white;
    --header-height: 4rem;
    --border-radius: 1rem;
    --card-background: #2a2a2a;
    --card-hover: #444;
    --glow-color: #958efa;
  }

body{
    width: 100%;
    height: 100%;
    position: relative;
}
.buttonContainer {
  display: flex;
  gap: 10px; /* Adds space between buttons */
}
.container {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 95vw;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(108, 106, 106, 0.8);
  border-radius: 1rem;
  margin-top: 2rem;
  width: 75%;
  margin-bottom: 50px;
}

.intro {
  text-align: center;
  align-self: center;
  align-items: center;
  width: 75%;
}

h1 {
  color: white;
}

p, h5 {
  color: white;
  margin: 0.5rem 0;
  overflow: hidden;
  width: 90%;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.buttonContainer button {
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-color);
  color: var(--header-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttonContainer button:hover {
  background-color: var(--card-hover);
  box-shadow: 0 0 10px var(--glow-color);
}

.imageUpload {
  margin-top: 20px;
  text-align: center; /* Center the content */
}

.profileImage {
  margin-top: 10px;
  max-width: 150px; /* Set a maximum width for the image */
  max-height: 150px; /* Set a maximum height for the image */
  border-radius: var(--border-radius); /* Match your card styles */
  border: 2px solid var(--secondary-color); /* Add a border if needed */
}

.createPlaceButton,
.createTagButton,
.postButton,
.mainButton {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  background-color: var(--secondary-color);
  color: var(--header-color);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.createPlaceButton:hover,
.createTagButton:hover,
.postButton:hover,
.mainButton:hover {
  background-color: var(--card-hover);
  box-shadow: 0 0 10px var(--glow-color);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

/* loyalty badge */
.loyaltyBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.loyaltyBadge img {
  width: 50px;
  height: 50px;
}

.loyaltyBadge h5 {
  margin: 0;
}

.rankBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.rankBadge img {
  width: 50px;
  height: 50px;
}

.rankBadge h5 {
  margin: 0;
}

.notificationButton {
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  margin-top: 15px;
}

@keyframes moveBell {
  0% { transform: translateX(0); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(0); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0); }
}

.notificationButton {
  position: fixed;
  top: 10px;
  left: 10px;
  background: black;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.notificationButton:hover {
  animation: moveBell 0.5s;
}
