:root {
  --primary-color: #1a1a1a;
  --secondary-color: #333;
  --background-color: #dcdbdb;
  --text-color: #000000;
  --header-color: white;
  --form-background: #2a2a2a;
  --border-radius: 1rem;
  --small-text-color: #000000;
}

.formContainer {
  background-color: var(--form-background);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--text-color);
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-background);
  color: var(--text-color);
}

.select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-background);
  color: var(--text-color);
}

.checkbox {
  margin-right: 0.5rem;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.termsLabel {
  color: var(--text-color);
}

.link {
  cursor: pointer;
  color: var(--link-color);
  text-decoration: underline;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--primary-hover-color);
}

.termsText {
  color: var(--text-color); /* Ensures text inside terms is black */
}

li {
  color: black;
}

.termsLabel {
  color: var(--text-color); /* Makes sure the label is black */
}

.modal h2,
.modal p,
.modal li {
  color: var(--text-color); /* Ensures the modal text is black */
}

.modal {
  position: absolute;
  top: 50%; /* Centered vertically */
  left: 0%; /* Centered horizontally */
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px; /* Minimal padding for compactness */
  border-radius: 10px;
  max-width: 200px; /* Smaller width for pop-up size */
  width: 0%; /* Slightly flexible width */
  z-index: 2000; /* Above header */
}

.successMessage {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
