:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333;
    --background-color: #dcdbdb;
    --text-color: #121212;
    --header-color: white;
    --header-height: 4rem;
    --border-radius: 1rem;
    --card-background: #2a2a2a;
    --card-hover: #444;
    --glow-color: #958efa;
}

.container {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 95vw;
    height: 100%;
}

.contentContainer {
    background-color: rgba(108, 106, 106, 0.8);
    color: var(--text-color);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    /* max-width: 70%; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--header-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: lighten(var(--header-color), 10%);
}

h1 {
    color: var(--primary-color);
    margin: 2rem 0;
}

.searchInput, .openingHoursInput, .tagInput {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    margin: 1rem 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.currencySelector {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
}

.filterButton, .updateButton, .deleteButton, .viewButton, .copyButton, .emailButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.filterButton {
    background-color: var(--primary-color);
    color: var(--header-color);
}

.filterButton:hover {
    background-color: var(--card-hover);
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
}

.placeCard {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.3s;
    width: calc(25% - 2rem); /* 3 cards per row with spacing */
}

.placeCard:hover {
    transform: scale(1.02);
    background-color: var(--card-hover);
}

.placeName {
    color: white;
    margin: 0 0 10px;
}

.placeImage {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    margin-top: 0.5rem;
}

.updateButton {
    background-color: #4CAF50; /* Green */
    color: white;
}

.updateButton:hover {
    background-color: #45a049; /* Darker green */
}

.deleteButton {
    background-color: #f44336; /* Red */
    color: white;
}

.deleteButton:hover {
    background-color: #d32f2f; /* Darker red */
}

.mapContainer {
    height: 200px; /* Adjust height as needed */
    width: 100%; /* Full width */
    border-radius: var(--border-radius);
    overflow: hidden; /* Prevent overflow */
}

.cardButton{
    background-color: rgb(57, 57, 57);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: var(--border-radius);
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardButton:hover {
    background-color: var(--card-hover);
}