:root {
  --primary-color: #1a1a1a;
  --secondary-color: #333;
  --background-color: #dcdbdb;
  --text-color: #121212;
  --header-color: white;
  --header-height: 4rem;
  --border-radius: 1rem;
  --card-background: #2a2a2a;
  --card-hover: #444;
  --glow-color: #958efa;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--header-color);
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: #444; /* Adjusted to static color for compatibility */
}

.smallButton {
  padding: 0.3rem 0.6rem;
  margin-top: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--header-color);
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(107, 106, 108, 0.8);
  border-radius: 1rem;
  margin-top: 2rem;
  width: 75%;
  margin-bottom: 50px;
}

input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
