:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333;
    --background-color: #dcdbdb;
    --text-color: #121212;
    --header-color: white;
    --header-height: 4rem;
    --border-radius: 1rem;
    --card-background: #2a2a2a;
    --card-hover: #444;
    --glow-color: #958efa;
  }
  
  .container {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    position: relative;
    top: 0;
    width: 95vw;
    height: 100%;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--header-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
  }
  
  .button:hover {
    background-color: lighten(var(--header-color), 10%);
  }
  
  .productCard {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: calc(30% - 2rem);
    min-width: 18rem;
  }
  
  .productCard:hover {
    border: 2px solid var(--glow-color);
    box-shadow: 0 0 10px var(--glow-color);
  }
  
  .productImage {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .productDetails {
    margin-top: 10px;
    font-weight: bold;
    color: var(--header-color);
  }
  
  /* Search and Filter Styles */
  .searchInput {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
  }
  
  .priceFilter {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .priceInput {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
    width: 80px;
  }
  
  .sortOptions {
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  .submitReviewButton{
    color: var(--header-color);
  }
  .submitReviewButton:hover {
    background-color: var(--card-hover);
    box-shadow: 0 0 10px var(--glow-color);
  }