:root {
    --primary-color: #1a1a1a;
    --secondary-color: #333;
    --background-color: #dcdbdb;
    --text-color: #121212;
    --header-color: white;
    --header-height: 4rem;
    --border-radius: 1rem;
    --card-background: #2a2a2a;
    --card-hover: #444;
    --glow-color: #958efa;
  }
  
body{
    width: 100%;
    height: 100%;
    position: relative;
}
.activityItem {
  background-color: #000000; /* White background for each box */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Inner padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  position: relative; /* Set position relative for absolute children */
}

.mapContainer {
  height: 200px; /* Adjust height as needed */
  width: 100%; /* Full width */
  border-radius: 5px; /* Optional: Rounded corners */
  overflow: hidden; /* Optional: Prevent overflow */
}

  .container {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    color: var(--header-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    margin-right: 0.5rem;
  }
  
  .button:hover {
    background-color: lighten(var(--header-color), 10%);
  }
  
  .main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(108, 106, 106, 0.8);
    border-radius: 1rem;
    margin-top: 2rem;
    width: 75%;
    margin-bottom: 50px;
  }
  
  .intro {
    text-align: center;
  }
  
  h1 {
    color: white;
  }
  
  p, h5 {
    color: white;
    margin: 0.5rem 0;
    
  }

  .activityList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }
  
  .activityItem {
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(30% - 2rem);
    min-width: 18.75rem;
  }
  
  .activityItem h3 {
    margin: 0 0 10px;
  }
  
  .activityItem p {
    margin: 5px 0;
  }

  .cardButton{
    background-color: rgb(57, 57, 57);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: var(--border-radius);
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardButton:hover {
    background-color: var(--card-hover);
}